@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --var-primary-color: #ffffff;
  --var-secondary-color: #000000;
  --var-gray-color: #595e5a;
  --var-logo-color: rgb(245, 197, 24);
  --var-favorite-color: #5799ef;
  --var-card-color: #1a1a1a;
  --var-rating-color: #b6bbac;
  --var-font-weight: 600;
  --var-font-family: "Roboto", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: #262926;
  font-family: var(--var-font-family);
}

#header-container {
  display: flex;
  background-color: #161716;
  padding: 0.7rem 2rem;
}

#logo-image img {
  width: 5.2rem;
  height: 2.5rem;
}

#nav-list {
  display: flex;
}

#nav-list li {
  text-decoration: none;
  list-style-type: none;
}

#nav-list li input {
  width: 35rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-left: 15rem;
  padding-left: 1rem;
  color: var(--var-gray-color);
  font-family: var(--var-font-family);
  font-size: 0.95rem;
}

#nav-list li input:focus {
  outline: none;
  box-shadow: 1px 3px 10px var(--var-primary-color);
}

.nav-item {
  position: relative;
  left: 14rem;
  color: var(--var-primary-color);
  padding-top: 10px;
  padding-bottom: -5rem;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.nav-item:hover {
  background-color: var(--var-gray-color);
  cursor: pointer;
}

#line-break::before {
  content: "";
  position: relative;
  left: -2rem;
  border: 1px solid var(--var-primary-color);
}

.nav-item2 {
  position: relative;
  left: 2rem;
  color: var(--var-primary-color);
  padding-top: 10px;
  padding-bottom: -5rem;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.nav-item2:hover {
  background-color: var(--var-gray-color);
  cursor: pointer;
}

#nav-list li span:nth-child(2) {
  margin-left: 8px;
}

#nav-list li:nth-child(2) span {
  position: relative;
  left: -2rem;
  color: var(--var-gray-color);
}

#nav-list li:nth-child(5) {
  position: relative;
  top: 3px;
  left: 6rem;
  font-size: 2rem;
  color: var(--var-gray-color);
  cursor: pointer;
}

main {
  display: inline-block;
  position: relative;
  width: 100%;
  height: 100%;
}

#movie-container {
  display: flex;
  flex-wrap: wrap;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.movie-item {
  background-color: var(--var-card-color);
  width: 12.5rem;
  height: 29rem;
  margin-left: 1rem;
}
/* 
#movie-container::after {
  content: "";
  width: 0.5px;
  height: 100%;
  border-left: 0.5px solid var(--var-primary-color);
  position: absolute;
  box-shadow: 0px 0px 7px var(--var-primary-color);
  top: 10px;
  border-radius: 10px;
  transform: rotateX(-50%);
  margin-left: 49.8rem;
} */

/* aside {
  display: inline-block;
  width: 30%;
  height: 100%;
  vertical-align: top;
  margin-left: -5rem;
}

#aside-heading {
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 0.84rem;
  color: var(--var-logo-color);
}

.favorites-item {
  margin-top: 1.2rem;
  width: 31rem;
  height: 13rem;
  background-color: var(--var-card-color);
} */

#movie-details {
  margin-top: 1rem;
  margin-left: 10px;
}

#movie-image img {
  width: 14rem;
}

#movie-star {
  color: var(--var-logo-color);
}

#movie-favorite {
  position: relative;
  top: -1.1px;
  left: 1.5rem;
  color: var(--var-favorite-color);
  font-size: 0.8rem;
}

#movie-rating {
  margin-right: 1rem;
  color: var(--var-rating-color);
  margin-left: 0.2rem;
}

#movie-name {
  margin-top: 1rem;
  text-align: center;
  white-space: pre-wrap;
  word-break: break-word;
  letter-spacing: 1px;
  color: var(--var-rating-color);
}

#trailer-container {
  margin-top: 1.5rem;
  margin-left: 2.3rem;
}

#movie-trailer-button i {
  color: var(--var-primary-color);
  margin-right: 8px;
}

#trailer-name {
  font-size: 1rem;
  color: var(--var-primary-color);
}

.my-slider-progress {
  background: #ccc;
}

.my-slider-progress-bar {
  background: greenyellow;
  height: 2px;
  transition: width 400ms ease;
  width: 0;
}

/* Carousel Styling */

.carousel {
  width: 100vw;
  height: 100vh;
  position: relative;
  top: 1.5rem;
  margin-left: 5rem;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
}

.slide > img {
  display: block;
  object-fit: cover;
  object-position: center;
}

.slide[data-active] {
  opacity: 1;
}

.carousel > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.carousel-button {
  position: absolute;
  background: none;
  font-size: 3rem;
  /* background: black; */
  top: 50%;
  color: rgba(255, 255, 255, 0.5);
  z-index: 2;
  transform: translateY(-100%);
}
