@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --var-primary-color: "#ffffff";
  --var-secondary-color: "#000000";
  --var-font-family: "Roboto", sans-serif;
}

body {
  background-color: #262926;
  font-family: var(--var-font-family);
}

#header-container {
  display: flex;
  background-color: #161716;
  padding: 0.7rem 2rem;
}

#logo-image img {
  width: 5rem;
  height: 2.5rem;
}

#nav-list li {
  text-decoration: none;
  list-style-type: none;
}

#nav-list li input {
  width: 35rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-left: 15rem;
  padding-left: 1rem;
  font-family: var(--var-font-family);
  font-size: 0.95rem;
}

#nav-list li input:focus {
  outline: none;
  box-shadow: 1px 3px 10px #ffffff;
}

#nav-list li:first-child {
  color: white;
}
