@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --var-primary-color: #ffffff;
  --var-secondary-color: #000000;
  --var-gray-color: #595e5a;
  --var-font-family: "Roboto", sans-serif;
}

body {
  background-color: #262926;
  font-family: var(--var-font-family);
}

#header-container {
  display: flex;
  background-color: #161716;
  padding: 0.7rem 2rem;
}

#logo-image img {
  width: 5rem;
  height: 2.5rem;
}

#nav-list {
  display: flex;
}

#nav-list li {
  text-decoration: none;
  list-style-type: none;
}

#nav-list li input {
  width: 35rem;
  height: 2.5rem;
  border-radius: 0.5rem;
  margin-left: 15rem;
  padding-left: 1rem;
  color: var(--var-gray-color);
  font-family: var(--var-font-family);
  font-size: 0.95rem;
}

#nav-list li input:focus {
  outline: none;
  box-shadow: 1px 3px 10px var(--var-primary-color);
}

.nav-items {
  position: relative;
  left: 14rem;
  color: var(--var-primary-color);
  padding-top: 10px;
  padding-bottom: -5rem;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  border-radius: 5px;
}

.nav-items:hover {
  background-color: var(--var-gray-color);
  cursor: pointer;
}

.nav-items2 {
  position: relative;
  left: 2rem;
  color: var(--var-primary-color);
  padding-top: 10px;
  padding-bottom: -5rem;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 1rem;
  border-radius: 5px;
}
.nav-items2:hover {
  background-color: var(--var-gray-color);
  cursor: pointer;
}

#nav-list li span:nth-child(2) {
  margin-left: 8px;
}

#nav-list li:nth-child(2) span {
  position: relative;
  left: -2rem;
  color: var(--var-gray-color);
}

#nav-list li:nth-child(5) {
  position: relative;
  top: 3px;
  left: 6rem;
  font-size: 2rem;
  color: var(--var-gray-color);
  cursor: pointer;
}

main {
  display: inline-block;
  width: 70%;
  height: 100%;
}

#movie-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.movie-items {
  background-color: var(--var-gray-color);
  width: 17rem;
  height: 22rem;
  margin-top: 2rem;
}

aside {
  display: inline-block;
  width: 29.7%;
  height: 100%;
  vertical-align: top;
}
